{%- set dbdir = salt['pillar.get']('default:OMV_MINIDLNA_DB_DIR', '/var/cache/minidlna') -%}
{%- set logdir = salt['pillar.get']('default:OMV_MINIDLNA_LOG_DIR', '/var/log/minidlna') -%}
{%- set serial = salt['pillar.get']('default:OMV_MINIDLNA_SERIAL', '31446138') -%}
{{ pillar['headers']['multiline'] }}
port={{ config.port }}
{%- if config.netinterface | length > 0 %}
network_interface={{ config.netinterface }}
{%- else %}
#network_interface=eth0
{%- endif %}
friendly_name={{ config.name }}
db_dir={{ dbdir }}
log_dir={{ logdir }}
album_art_names=Cover.jpg/cover.jpg/AlbumArtSmall.jpg/albumartsmall.jpg/AlbumArt.jpg/albumart.jpg/Album.jpg/album.jpg/Folder.jpg/folder.jpg/Thumb.jpg/thumb.jpg
inotify=yes
enable_tivo={{ 'yes' if config.tivo else 'no' }}
wide_links={{ 'yes' if config.widelinks else 'no' }}
strict_dlna={{ 'yes' if config.strict else 'no' }}
notify_interval=60
serial={{ serial }}
model_number=1
{%- if config.rootcontainer | length > 0 %}
root_container={{ config.rootcontainer }}
{%- else %}
#root_container=.
{%- endif %}
log_level=general,artwork,database,inotify,scanner,metadata,http,ssdp,tivo={{ config.loglevel }}
{%- if config.extraoptions | length > 0 %}
{{ config.extraoptions }}
{%- endif %}
{% for share in config.shares.share %}
{%- set sfpath = salt['omv_conf.get_sharedfolder_path'](share.sharedfolderref) -%}
media_dir={% if share.mtype | length > 0 %}{{ share.mtype }},{% endif %}{{ sfpath }}
{% endfor %}
